.panes-container
  display: flex
  width: 100%
  overflow: hidden

.left-pane
  width: 35%
  float: left

.right-pane
  width: 65%
  background: #F1F2FE

.full_width_md
    width: 82% !important
.full_width
    width: 100% !important

.no-hover
  pointer-events: none !important


::-webkit-scrollbar
    width: 6px
    background-color: #ffffff

::-webkit-scrollbar-thumb
    background-color: #C7C7C7

::-webkit-scrollbar-track
    background-color: #ffffff

.v-input--selection-controls__ripple
    width: 0px !important
    height: 0px !important


