.panes-container
  display: flex
  width: 100%
  overflow: hidden

.left-pane
  width: 35%
  float: left

.right-pane
  width: 65%
  background: #eee

.panes-container,
  .left-pane,
  .right-pane
    margin: 0
    padding: 0
    height: 100%

